/*--header--*/
.navbar{
	margin-bottom: auto;
}

.jumbotron-fm{
	width: 100%;
    height: 400px;
    background-image: url(../img/OSTEO_SIN_MAX.jpg);
    background-size: 100% 200%;
    border: 1px solid black;
    text-align: center;
}

.jumbotron-fm ,.ini1,.ini2{

	color: blue;

}
